<section class="mt-4">
  <div class="mb-4 flex items-center justify-between">
    <div class="relative w-[100%] md:w-[350px]">
      <input
        type="text"
        placeholder="Search messages..."
        [(ngModel)]="searchTerm"
        class="w-full border border-gray-300 rounded-lg px-3 py-2 text-sm focus:outline-none focus:ring-1 focus:ring-primary"
      />
      <i class="ph ph-magnifying-glass absolute right-3 top-1/2 -translate-y-1/2 text-gray-400"></i>
    </div>
  </div>

  <div class="border border-gray-200 rounded-lg overflow-hidden">
    <div class="overflow-x-auto h-full">
      @if (count === 0) {
        <div
          class="nil py-12 text-center text-gray-500 text-sm flex flex-col items-center justify-center gap-2 min-h-[300px]"
        >
          <i class="ph ph-envelope-simple mb-2 text-2xl"></i>
          <p class="text-sm xl:text-lg">No messages available yet</p>
        </div>
      } @else {
        <ion-grid class="min-w-[775px] bg-gray-50 font-semibold text-gray-600 text-sm">
          <ion-row class="border-b border-gray-200 whitespace-nowrap">
            <!-- <ion-col class="py-6 px-4 w-[155px]">Message ID</ion-col> -->
            <ion-col class="py-6 px-4 w-[155px]">Number</ion-col>
            <ion-col class="py-6 px-4 w-[250px]">Message</ion-col>
            <ion-col class="py-6 px-4 w-[155px]">Service</ion-col>
            <ion-col class="py-6 px-4 w-[155px]">Received At</ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid class="min-w-[775px] text-sm text-gray-700">
          @for (message of filteredMessages; track message.id) {
            <ion-row class="border-b border-gray-200 hover:bg-gray-50 transition whitespace-nowrap">
              <!-- <ion-col class="w-[155px] py-6 px-4 font-mono text-gray-800">
                {{ message.id }}
              </ion-col> -->
              <ion-col class="w-[155px] py-6 px-4">
                {{ message.number }}
              </ion-col>
              <ion-col
                class="py-6 px-4 whitespace-normal break-words w-[250px]"
                title="{{ message.message }}"
              >
                {{ message.message }}
              </ion-col>
              <ion-col class="w-[155px] py-6 px-4">
                {{ message.service }}
              </ion-col>
              <ion-col class="w-[155px] py-6 px-4">
                {{ message.received_at }}
              </ion-col>
            </ion-row>
          }
        </ion-grid>
      }
    </div>
    @if (count > 0) {
      <div
        class="flex items-center justify-between px-4 py-3 border-t border-gray-200 text-sm text-gray-600"
      >
        <button
          (click)="prevPage()"
          [disabled]="currentPage === 1"
          class="px-3 py-1 rounded-md border border-gray-300 disabled:opacity-50 disabled:cursor-not-allowed"
        >
          Previous
        </button>

        <span>Showing {{ startIndex + 1 }}–{{ endIndex }} of {{ totalMessages }}</span>

        <button
          (click)="nextPage()"
          [disabled]="endIndex >= totalMessages"
          class="px-3 py-1 rounded-md border border-gray-300 disabled:opacity-50 disabled:cursor-not-allowed"
        >
          Next
        </button>
      </div>
    }
  </div>
</section>
