<section class="mb-8 mt-4">
  <div class="mb-4 mt-2">
    <p class="text-md font-medium text-gray-600">Quick Actions</p>
  </div>
  <div class="grid grid-cols-2 sm:grid-cols-2 xl:grid-cols-4 gap-2">
    <a
      [routerLink]="['/rent-numbers']"
      class="actions-item flex w-full text-black items-center gap-3 p-4 rounded-lg hover:bg-gray-100 transition border-[#ededed] border-2"
    >
      <i class="ph ph-phone-incoming" slot="start"></i>
      <p class="font-normal">Rent a Number</p>
    </a>
    <a
      [routerLink]="['/sms']"
      class="actions-item flex w-full text-black items-center gap-3 p-4 rounded-lg hover:bg-gray-100 transition border-[#ededed] border-2"
    >
      <i class="ph ph-chat-circle-text" slot="start"></i>
      <p class="font-normal">SMS History</p>
    </a>

    <a
      [routerLink]="['/add-funds']"
      class="actions-item flex w-full text-black items-center gap-3 p-4 rounded-lg hover:bg-gray-100 transition border-[#ededed] border-2"
    >
      <i class="ph ph-money"></i>
      <p class="font-normal">Add Funds</p>
    </a>
    <a
      [routerLink]="['/my-numbers']"
      class="actions-item flex w-full text-black items-center gap-3 p-4 rounded-lg hover:bg-gray-100 transition border-[#ededed] border-2"
    >
      <i class="ph ph-phone" slot="start"></i>
      <p class="font-normal">My Numbers</p>
    </a>
  </div>
</section>
