<auth-layout>
  <div class="flex justify-center items-center flex-col gap-2 mb-12">
    <p class="text-xl font-semibold">Forgot Password</p>
    <p class="text-sm text-center text-gray-500">Enter your email to receive a reset link</p>
  </div>
  <div class="max-w-md mx-auto mt-8 space-y-6">
    <ion-input
      label="Email"
      label-placement="floating"
      fill="outline"
      type="email"
      [(ngModel)]="email"
      name="email"
      placeholder="Enter your email"
      required
    ></ion-input>
    <ion-button
      expand="block"
      color="primary"
      class="mt-4 mb-8"
      (click)="sendResetEmail()"
      [disabled]="!email"
    >
      Send Reset Link
    </ion-button>
    <div class="text-center mt-4">
      <ion-text color="medium">
        Remembered your password?
        <a [routerLink]="['/auth/login']" class="text-primary font-medium"> Back to Login </a>
      </ion-text>
    </div>
  </div> </auth-layout
>>
