<auth-layout>
  <div class="flex justify-center items-center flex-col gap-2 mb-12">
    <p class="text-xl font-semibold">Reset your password</p>
    <p class="text-sm text-center text-gray-500">Enter a new password to continue</p>
  </div>

  <form
    [formGroup]="resetForm"
    (ngSubmit)="resetPassword()"
    class="max-w-md mx-auto mt-8 space-y-6"
  >
    <ion-input
      required
      label="New Password"
      label-placement="floating"
      fill="outline"
      [type]="showPassword ? 'text' : 'password'"
      formControlName="password"
      placeholder="Enter new password"
      [errorText]="passwordError"
      [class.ion-invalid]="passwordError"
    >
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>

    <ion-input
      required
      label="Confirm Password"
      label-placement="floating"
      fill="outline"
      [type]="showConfirmPassword ? 'text' : 'password'"
      formControlName="confirmPassword"
      placeholder="Confirm new password"
      [errorText]="confirmPasswordError"
      [class.ion-invalid]="confirmPasswordError"
    >
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>

    <ion-button
      expand="block"
      color="primary"
      class="mt-4 mb-6"
      type="submit"
      [disabled]="resetForm.invalid"
    >
      Update Password
    </ion-button>
  </form>

  <div class="text-center mt-4">
    <ion-text color="medium">
      Remember your password?
      <a [routerLink]="['/auth/login']" class="text-primary font-medium">Sign in</a>
    </ion-text>
  </div>
</auth-layout>
