<auth-layout>
  <div class="flex justify-center items-center flex-col gap-2 mb-12">
    <p class="text-xl font-semibold">Login</p>
    <p class="text-sm text-center text-gray-500">
      Enter your Email and Password to use your account
    </p>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="max-w-md mx-auto mt-8 space-y-6">
    <ion-input
      label="Email"
      label-placement="floating"
      fill="outline"
      type="email"
      formControlName="email"
      placeholder="you@example.com"
      class="custom-outline"
      [errorText]="emailError"
      [class.ion-invalid]="emailError"
    ></ion-input>
    <ion-input
      label="Password"
      label-placement="floating"
      fill="outline"
      [type]="showPassword ? 'text' : 'password'"
      formControlName="password"
      placeholder="Enter password"
      [errorText]="passwordError"
      [class.ion-invalid]="passwordError"
    >
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>
    @if (errorMessage()) {
      <p class="text-red-500 text-sm font-medium">
        {{ errorMessage() }}
      </p>
    }
    <div class="text-right">
      <a
        class="text-primary text-sm font-medium cursor-pointer"
        [routerLink]="['/auth/forgot-password']"
      >
        Forgot password?
      </a>
    </div>
    <div class="mb-8">
      <ion-button
        expand="block"
        color="primary"
        class="mt-6 mb-2"
        type="submit"
        [disabled]="loading() || loginForm.invalid"
      >
        @if (!loading()) {
          <span>Sign In</span>
        } @else {
          <ion-spinner name="crescent"></ion-spinner>
        }
      </ion-button>
    </div>

    <div class="flex items-center justify-center my-8">
      <div class="flex-1 border-t border-gray-200"></div>
      <span class="px-3 text-gray-500 text-sm">or continue with</span>
      <div class="flex-1 border-t border-gray-200"></div>
    </div>
    <div class="flex justify-center space-x-4 my-8">
      <ion-button
        class="rounded-full w-12 h-12 flex items-center justify-center"
        (click)="signInWithGoogle()"
      >
        <ion-icon name="logo-google" slot="icon-only"></ion-icon>
      </ion-button>

      <!-- <ion-button
        class="rounded-full w-12 h-12 flex items-center justify-center"
        (click)="signInWithApple()"
      >
        <ion-icon name="logo-apple" slot="icon-only"></ion-icon>
      </ion-button> -->
    </div>
    <div class="text-center mt-4">
      <ion-text color="medium">
        Don’t have an account?
        <a [routerLink]="['/auth/signup']" class="text-primary font-medium">Create one</a>
      </ion-text>
    </div>
  </form>
</auth-layout>
