ion-item i.ph {
  font-size: 16px;
  color: var(--ion-color-medium);
  text-align: center;
}

ion-item:hover {
  --background: #ededed;
}

ion-item,
ion-item:active,
ion-item.active {
  --background: #f3f3f3;
  border-radius: 1000px;
  cursor: pointer;
}
